<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <hr />
            <!-- Show Avatar & Email  -->
            <% if (!user.avatar) { %>
            <div class="img-thumbnail img-fluid rounded">
                <img src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/30.User-512.png" alt="avatar" />
                <div class="img-caption text-center font-weight-light font-italic">
                    <!-- Show User Name  -->
                    <% if(!user.email) { %>
                    <h3 class="text"><%= user.username %></h3>
                    <% }; %>
                    <p>
                        Please add an email address for your account.
                    </p>
                </div>
            </div>
            <% } else { %>
            <div class="img-thumbnail img-fluid rounded">
                <img src="<%= user.avatar %>" alt="avatar" />
                <div class="img-caption text-center font-weight-light font-italic">
                    <!-- Show User Name  -->
                    <% if (!user.username) { %>
                    <h3 class="text-capitalize "><%= user.email %></h3>
                    <% }; %>
                    <p>
                        Email: <a href="mailto: <%= user.email %>"><%= user.email %></a>
                    </p>
                </div>
            </div>
            <% }; %>

            <hr />
            <% if(!user.description) { %>
            <h5 class="text-capitalize text-center">No user description added to your profile. You can add one at any
                time.</h5>
            <% } else { %>
            <h6 class="font-weight-light font-italic "><%= user.description %></h6>
            <% }; %>

            <div class="row">
                <% if(currentUser && user._id.equals(currentUser._id)) { %>
                <div class="row text-center">
                    <a class="btn btn-sm btn-warning" href="/users/<%= user._id %>/edit">Edit</a>
                </div>
                <% }; %>
            </div>
        </div>

        <div class="col-md-9">
            <h3 class="text-center font-weight-normal font-italic">
                <%= user.username %>'s Bird Pics
            </h3>
            <hr />
            <div class="row text-center" style="display: flex; flex-wrap: wrap;">
                <!-- Show all birds -->
                <% birds.forEach((bird) => { %>
                <div class="cold-md-3 col-sm-6">
                    <div class="thumbnail" style="padding:10px;">
                        <image src="<%= bird.image %>"></image>
                        <div class="caption">
                            <h3><%= bird.name %></h3>
                            <h5><%= bird.location %></h5>
                        </div>
                        <a href="/birds/<%= bird._id %>" class="btn btn-primary">More info</a>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
</div>